.mapa {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  }
  
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .titulo {
    font-size: 2rem;
    font-weight: 600;
    margin: 10px 0;
    color: #333;
  }
  
  .descripcion {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 20px;
    color: #555;
  }
  
  .reviews-list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .reviews-list li {
    margin-bottom: 10px;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #555;
  }
  
  .reviews-list li strong {
    font-weight: 600;
    color: #333;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
  }
  